/**
============================================
Title: style.css
Author: Oksana Kustova
Date: 10/24/2021
Description: Style for diagrams page.
===========================================
*/

figure.big-photo {
  margin: 0;
  height: 60vh;
}

figcaption.big-photo {
  color: rgb(255, 255, 255);
  font-style: italic;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
}

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin: 6vh 6vh 6vh 0;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
}

.carousel-item img {
  display: block;
  width: auto;
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7,
#carousel-8:checked ~ .control-8,
#carousel-9:checked ~ .control-9,
#carousel-10:checked ~ .control-10,
#carousel-11:checked ~ .control-11 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet,
#carousel-4:checked
  ~ .control-4
  ~ .carousel-indicators
  li:nth-child(4)
  .carousel-bullet,
#carousel-5:checked
  ~ .control-5
  ~ .carousel-indicators
  li:nth-child(5)
  .carousel-bullet,
#carousel-6:checked
  ~ .control-6
  ~ .carousel-indicators
  li:nth-child(6)
  .carousel-bullet,
#carousel-7:checked
  ~ .control-7
  ~ .carousel-indicators
  li:nth-child(7)
  .carousel-bullet,
#carousel-8:checked
  ~ .control-8
  ~ .carousel-indicators
  li:nth-child(8)
  .carousel-bullet,
#carousel-9:checked
  ~ .control-9
  ~ .carousel-indicators
  li:nth-child(9)
  .carousel-bullet,
#carousel-10:checked
  ~ .control-10
  ~ .carousel-indicators
  li:nth-child(10)
  .carousel-bullet,
#carousel-11:checked
  ~ .control-11
  ~ .carousel-indicators
  li:nth-child(11)
  .carousel-bullet {
  color: #cca545;
}
